section.contact {
  position: relative;
  padding-bottom: 15rem;
  background-color: $white;
  overflow-x: hidden;

  .intersect.contact {
    position: relative;
    top: calc(100vh - 50px);
    width: 100%;
    background: orange;
    z-index: 2;
    height: 10px;
  }

  #clouds {
    background-color: $primary-blue;
    min-width: 900px;

    & path {
      fill: $white;
    	stroke: $white;
    }
  }

  .contact-grid {
    .column {
      margin-bottom: 1rem;

      .contact-grid-block {
        transition: all 0.2s;
        position: relative;
        border: 5px solid $primary-blue;
        background-color: $white;
        height: 200px;
        color: $white;
        @include flexbox(column, center, center);

        &:hover {
          background-color: $primary-blue;
          a {
            color: $white;
            transform: translateY(-1rem);
            animation: pulse 2s infinite linear;
          }
          span {
            opacity: 1;
            transform: translateY(1.75rem);
          }
        }

        a {
          z-index: 10;
          font-size: 3rem;
          color: $primary-blue;
        }

        span {
          font-size: 1.25rem;
          transition: all 0.2s;
          opacity: 0;
        }
      }
    }
  }
}
